body {
  background-color: beige;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-content: center;
}

.title {
  padding: auto;
  text-align: center;
}

.image {
  height: auto;
  width: 100;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.ingredients {
  text-align: left;
  font-size: small;
  box-sizing: border-box;
  padding: 30px;
  margin: 30px;
}

.steps {
  font-size: small;
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
  margin: 30px;
}
