body {
  background-color: beige;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-content: center;
}

.title {
  padding: auto;
  text-align: center;
  background-color: aquamarine;
}

.image {
  height: auto;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ingredients {
  text-align: left;
}
