body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rebeccapurple;
}

.recipe {
  text-align: center;
}

.ingredients {
  text-align: left;
}
